//디자인 가이드

@import "vars";
@import "mixins";

#main-visual {
  overflow: hidden;
  .list {
    li {
      height: 100vh;
      background-size: cover;
      background-position: 50%;
      background-repeat: no-repeat;
    }
    // for(let i=1; i <= 3;i++){

    // }
    // scss 에서 문자 보간 #{$변수}
    @for $i from 1 through 3 {
      .visual0#{$i} {
        background-image: url("../images/main/visual0#{$i}.jpg");
      }
    }

    // .visual01 {
    //   background-image: url("../images/main/visual01.jpg");
    // }
    // .visual02 {
    //   background-image: url("../images/main/visual02.jpg");
    // }
    // .visual03 {
    //   background-image: url("../images/main/visual03.jpg");
    // }
  }
  .btns {
    position: absolute;
    left: 100px;
    bottom: 50px;
    z-index: 2;
    width: 100px;
    display: flex;
    justify-content: space-between;
  }
  .btn {
    // position: absolute;
    // top: 50%;
    color: #fff;
    font-size: $h3;
    z-index: 2;
    &-next {
      right: 50px;
    }
    &-prev {
      left: 50px;
    }
  }
}

#quick-menu {
  .container {
    display: flex;
    h2 {
      height: 120px;
      width: 25%;
      @include flex;
      text-transform: uppercase;
      font-size: $h3;
      background-color: $main-color;
      color: #fff;
      @include longShadow(100, darken($main-color, 10));
      overflow: hidden;
    }
    ul {
      display: flex;
      width: 75%;
      li {
        width: 33.33%;
        border-left: 1px solid #ccc;
        &:nth-last-child(1) {
          border-right: 1px solid #ccc;
        }

        @for $i from 1 through 3 {
          &:nth-child(#{$i}) a:before {
            background-image: url("../images/main/quick-icon#{$i}.png");
          }
        }
        // &:nth-child(1) a:before {
        //   background-image: url("../images/main/quick-icon1.png");
        // }
        // &:nth-child(2) a:before {
        //   background-image: url("../images/main/quick-icon2.png");
        // }
        // &:nth-child(3) a:before {
        //   background-image: url("../images/main/quick-icon3.png");
        // }
        a {
          @include flex;
          height: 120px;
          &:before {
            content: "";
            display: block;
            width: 48px;
            height: 48px;
            background-repeat: no-repeat;
            background-position: 50%;
            margin-right: 10px;
            //background-color: #666;
          }
        }
      }
    }
  }
}

.section {
  .title-box {
    width: 340px;
    .title {
      h2 {
        text-transform: uppercase;
        font-size: $h1;
        margin-bottom: 40px;
      }
      p {
        font-size: 18px;
        line-height: 1.5;
      }
      &:after {
        content: "";
        display: block;
        width: 100px;
        height: 2px;
        background-color: $main-color;
        margin: 30px 0;
      }
    }
    .btns {
      display: flex;
      .btn {
        width: 50px;
        height: 50px;
        background-color: #fff;
        border: 1px solid #999;
        &-next {
          margin-left: -1px;
        }
      }
    }
  }
}
#project {
  overflow: hidden;
  position: relative;
  padding: 200px 0;
  background-color: #eee;
  .container {
    position: relative;
  }
  .banner {
    width: 100vw;
    position: absolute;
    left: 340px;
    top: 0;
    .mask {
      overflow: hidden;
    }
    ul {
      li {
        width: 400px;
      }
    }
  }
}
